html {
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;	
}

html, th, td {
	font-size: 0.8em;
}

body {	
	margin-left: 20px;
	margin-right: 20px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;	
}

body.up {
	background-color: rgb(180, 199, 231);
}

body.down {
	background-color: rgb(210, 210, 210);
}

body.up #up-status, body.down #down-status {
	display: inline-block;
}

body.up #down-status, body.down #up-status {
	display: none;
}

h1 {
	border-bottom: 1px solid;
	width: 100%;
	display: block;
}


/* top section */

img {
	height:1.4em;
	vertical-align: bottom;
	margin-left: 2px;
	margin-top: -0.4em;
}

#general {
	float:right;
	padding-top: 0.5em;
}

#top table {
	width: 100%;
	table-layout: fixed;	
}

#top {
	min-height: 33.333vh;
}

#top td {
	vertical-align: top;
}

.description br {
	content: "";
	margin: 5px;
	display: block;
}

#top br {
	content: "";
	margin: 1px;
	display: block;
}

#top .attribute-value {
	background-color: white;
}

.description {
	padding-left: 0.8em;
}


/* bottom section */

#bottom table {
	border: 3px solid black;
	border-collapse: collapse;	
}

#bottom th {
	background-color: rgb(230,230,250);
}

.column-header-row > th {
	border: 3px solid black;
	border-bottom: none;
}

.row-header {
 	text-align: left;
}

#bottom td, #bottom tr:not(.column-header-row) > th {
	border: 1px solid black;
	word-wrap: break-word;
}

#bottom td {
	background-color: white;
}

#bottom .numeric {
	text-align: right;
	display: grid;
}

.left-cell {
	border-left-width: 3px !important;
}

.clear-header
{
	border-top: none !important;
}